* {
  box-sizing: border-box;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(50px, 3);
  grid-template-rows: repeat(50px, 3);
  gap: 16px;
  width: 800px;
}

.marker-container {
  height: 250px;
  width: 250px;
  background: lightblue;
  font-size: 200px;
  appearance: none;
  border: 2px inset black;
  color: black;
}

.marker-container[data-row="0"] {
  grid-row: 1;
}

.marker-container[data-row="1"] {
  grid-row: 2;
}

.marker-container[data-row="2"] {
  grid-row: 3;
}

marker-container:hover:enabled,
marker-container:focus:enabled {
  background-color: rgb(236, 158, 85);
}

marker-container:focus:enabled {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

marker-container:active:enabled {
  transform: scale(0.99);
}
