* {
  box-sizing: border-box;
}

body {
  color: rgb(232, 230, 227);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(31, 29, 29);
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(50px, 3);
  grid-template-rows: repeat(50px, 3);
  width: min-content;
}

.marker-btn {
  height: 250px;
  width: 250px;
  background: rgb(14, 63, 83);
  font-size: 200px;
  appearance: none;
  border: 5px solid rgb(31, 29, 29);
  color: rgb(232, 230, 227);
}

.marker-btn[data-row="0"] {
  grid-row: 1;
}

.marker-btn[data-row="1"] {
  grid-row: 2;
}

.marker-btn[data-row="2"] {
  grid-row: 3;
}

.marker-btn:hover:enabled,
.marker-btn:focus:enabled {
  background-color: rgb(236, 158, 85);
  cursor: grab;
}

.marker-btn:focus:enabled {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.marker-btn:active:enabled {
  cursor: grab;
}
