* {
  box-sizing: border-box;
  --egg: rgb(232, 230, 227);
}

body {
  color: var(--egg);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(31, 29, 29);
  font-family: Arial, Helvetica, sans-serif;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(50px, 3);
  grid-template-rows: repeat(50px, 3);
  width: min-content;
}

/* Organize marker buttons into grid */
.marker-btn[data-row="0"] {
  grid-row: 1;
}

.marker-btn[data-row="1"] {
  grid-row: 2;
}

.marker-btn[data-row="2"] {
  grid-row: 3;
}

.marker-btn {
  height: 250px;
  width: 250px;
  background: rgb(14, 63, 83);
  font-size: 200px;
  appearance: none;
  border: 5px solid rgb(31, 29, 29);
  color: var(--egg);
}

.marker-btn:disabled {
  background: rgba(14, 63, 83, 0.5);
}

.marker-btn:hover:enabled,
.marker-btn:focus:enabled {
  background-color: rgb(236, 158, 85);
  cursor: grab;
}

.marker-btn:focus:enabled {
  outline: 1px solid var(--egg);
  outline-offset: -4px;
}

.marker-btn:active:enabled {
  cursor: grab;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.new-game-form {
  background-color: black;
  display: flex;
  flex-flow: column;
  height: auto;
  padding: 16px;
}

.new-game-form > label + input {
  padding: 8px;
  border-radius: 3px;
  border: none;
}

.new-game-form > label + input,
.new-game-form > .checkbox-wrapper {
  margin-bottom: 8px;
}

.new-game-form > button {
  height: 35px;
  border-radius: 20px;
}
